<div class="column is-half">
  <div class="box has-background-light">
    <h4 class="title is-4">
      <%= event.title %>
    </h4>
    <div class="block">
      <p>
        <span class="icon">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
        <%= event.start_time.strftime("%b %-d, %Y at %l:%M %P")%> - 
        <% if (event.start_time.to_date - event.end_time.to_date).to_i == 0 %>
          <%= event.end_time.strftime("%l:%M %P")%>
        <% else %>
          <%= event.end_time.strftime("%b %-d, %Y at %l:%M %P")%>
        <% end %>
      </p>
    </div>
    <div class="buttons">
      <%= link_to 'Event Details', event_path(id: event.id), class: "button is-link is-outlined is-fullwidth" %>
    </div>
  </div>
</div>
