<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2 class="has-text-danger"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul class="has-text-danger">
        <% @event.errors.each do |error| %>
          <li>
            <span class="icon">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </span>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, 
                      autofocus: true, 
                      required: true,
                      placeholder: "Surprise Party",  
                      class: "input" %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, 
                    placeholder: "Description or other important details",
                    class: "input text-input" %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, 
                      placeholder: "My house, restaurant, etc.", 
                      required: true,
                      class: "input" %>
  </div>

  <%# DOES NOT WORK ON FIREFOX!!! %>
  <div class="field">
    <%= f.label "Start Date and Time" %><br />
    <%= f.datetime_field :start_time,
                          required: true,
                          class: "input" %>
  </div>

  <div class="field">
    <%= f.label "End Date and Time" %><br />
    <%= f.datetime_field :end_time, 
                          required: true, 
                          class: "input" %>
  </div>

  <div class="field">
    <%= f.label "Invitations" %><br />
    <%# Do I need below 'invitations to be a column name in Event model? %>
    <%= f.fields_for :invitations do |invite_form| %>
      <%= invite_form.select(:attendee_id, @user_options) %>
      <%#= invite_form.collection_check_boxes :attendee_id, @users, :id, :name do |option| %>
        <p> 
          <%#= option.check_box %>
          <%#= option.label %>
        </p>
      <%# end %>
    <% end %>
  </div>

  <%# Do I need any hidden fields? %>
  <%#= f.hidden_field :?_id, ?.id %>

  <%# Do I need to be able to remove/delete? %>

  <div class="actions">
    <%= f.submit "Submit", class:"button is-link is-fullwidth" %>
  </div>
<% end %>