<%= form_with model: @event, local: true do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2 class="has-text-danger"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul class="has-text-danger">
        <% @event.errors.each do |error| %>
          <li>
            <span class="icon">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </span>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title,
                      autofocus: true,
                      required: true,
                      placeholder: "Surprise Party",
                      class: "input" %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description,
                    placeholder: "Description or other important details",
                    class: "input text-input" %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location,
                      placeholder: "My house, restaurant, etc.",
                      required: true,
                      class: "input" %>
  </div>

  <div class="field form-date-time">
    <div>
      <%= f.label "Start Date" %><br />
      <%= f.date_field :start_date,
                       required: true,
                       class: "input" %>
    </div>
    <div>
      <%= f.label "Start Time" %><br />
      <%= f.time_field :start_time,
                       required: true,
                       class: "input" %>
    </div>
   </div>

  <div class="field form-date-time">
    <div>
      <%= f.label "End Date" %><br />
      <%= f.date_field :end_date,
                       required: true,
                       class: "input" %>
    </div>
    <div>
      <%= f.label "End Time" %><br />
      <%= f.time_field :end_time,
                       required: true,
                       class: "input" %>
    </div>
   </div>

  <div class="field">
    <%= f.label "Invitations" %><br />
    <%= f.fields_for :invitations do |invite_form| %>
      <%= invite_form.collection_check_boxes :attendee_id, @attendee_options, :id, :name, { checked: @event.attendee_ids } do |option| %>
        <p>
          <%= option.check_box %>
          <%= option.label %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class:"button is-link is-fullwidth" %>
  </div>
<% end %>