<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title is-2"><%= @event.title %></h2>
        <p><%= @event.description %></p>
        <p><%= @event.location %></p>
        <p><%= @event.start_time %> to <%= @event.end_time %></p>
      </div>
    </div>
  </div>
</section>