<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-9">
        <h3 class="title is-3">My Invitations</h3>
        <% if @invitations.empty? %>
          <p>No Upcoming Events<p>
        <% else %>
          <%= form_tag update_multiple_invitations_path, method: :put do %>
            <div class="actions buttons is-right">
              <%= submit_tag "Save Changes", class:"button is-link " %>
            </div>
            <% @invitations.each do |invitation| %>
              <div class="columns is-multiline">
                <div class="column">
                  <div class="box has-background-light">
                    <h4 class="title is-4">
                      <%= link_to invitation.event.title, event_path(id: invitation.event.id) %>
                    </h4>
                    <h5 class="subtitle is-5">
                      Host:
                      <%= invitation.event.creator.name %>
                    </h5>
                    <div class="block">
                      <% if !invitation.event.description.blank? %>
                        <p class="pb-3">
                          <span class="icon">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                          </span>
                          <%= invitation.event.description %>
                        </p>
                      <% end %>
                      <p class="pb-3">
                        <span class="icon">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>
                        <%= invitation.event.location %>
                      </p>
                      <p>
                        <span class="icon">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                        <%= invitation.event.start_date.strftime("%b %-d, %Y")%>
                        <%= invitation.event.start_time.strftime(" at %l:%M %P")%> -
                        <% if (invitation.event.start_date - invitation.event.end_date).to_i == 0 %>
                          <%= invitation.event.end_time.strftime("%l:%M %P") %>
                        <% else %>
                          <%= invitation.event.end_date.strftime("%b %-d, %Y")%>
                          <%= invitation.event.end_time.strftime(" at %l:%M %P")%>
                        <% end %>
                      </p>
                    </div>
                    <%= fields_for "invitations[]", invitation do |f| %>
                      <% if invitation.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>
                          <ul>
                          <% invitation.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>
                      <div class="field">
                        <div class="control">
                          <p class="pb-3"><strong>Current RSVP Status</strong> (use dropdown to change & click on save)</p>
                          <div class="select">
                            <%= f.select :status, @status_options %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="actions">
              <%= submit_tag "Save Changes", class:"button is-link is-fullwidth" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
